*{
  margin: 0;
  padding :0;
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
}
main{
  width: 100%;
  height: 720px;

  display: flex;
  align-items: center;
  justify-content: center;
}
#clock{
  width: 540px;
  height: 540px;
  
  border-radius: 50%;
  border:5px solid black;

  backdrop-filter: blur(3px);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
#hour-hand{
  width:5px;
  height: 160px;

  background-color: white;

  position: absolute;
  top: calc(50%-360px);
}