*{
  margin: 0;
  padding :0;
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
}
main{
  width: 100%;
  height: 720px;

  display: flex;
  align-items: center;
  justify-content: center;
}
#clock{
  width: 540px;
  height: 540px;
  
  border-radius: 50%;
  border:5px solid black;

  backdrop-filter: blur(3px);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 0;
}
#hour-hand{
  width:4px;
  height: 180px;

  background-color: white;

  position: absolute;
  top: calc(50% - 180px);
  left : calc(50% - 2px);

  transform-origin: bottom;

  z-index: 2;
}
#min-hand{
  width:10px;
  height: 240px;

  background-color: rgb(160, 160, 160);

  position: absolute;
  top: calc(50% - 240px);
  left: calc(50% - 5px);

  z-index: 1;
}
#sec-hand{
  width:4px;
  height: 240px;

  background-color: rgb(65, 65, 65);

  position: absolute;
  top: calc(50% - 240px);
  left: calc(50% - 2px);

  z-index: 1;
}
#clock_num{
  list-style: none;
  font-size: 24px;
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 0.5px black;
}
#clock_num li{
  position: absolute;
}